
 label.contact{float:left;
        width:24em;
		margin-left:2px;
		margin-right:10px;
		text:10px;}
	
   label.area{float:left;
             width:24em;
			 margin-left:2px;
			 margin-right:10px;
			 }	
		
		fieldset{width:24em;
		box-shadow:.5em.5em #ccc;
		        margin-top:20px;
				border-color:#fff;
				}
				
				legend{border:solid 1px ;#053972;
				       background-color:#ddeeff;
					   }
article{width:900px;height:600px;background-color:#00FFFF;min-width:750px;max-width:1280px;
        float:right;margin-top:5px;
		 }	
#update{}